[submodule "frontend"]
	path = frontend
	url = https://github.com/FantomTchi7/Laohaldussusteem-Frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/FantomTchi7/Laohaldussusteem-Backend
	branch = main
