[submodule "frontend"]
	path = laohaldussusteem.client
	url = https://github.com/FantomTchi7/Laohaldussusteem-Frontend
	branch = main
[submodule "backend"]
	path = Laohaldussusteem.Server
	url = https://github.com/FantomTchi7/Laohaldussusteem-Backend
	branch = main
